*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --logo-padding: 12vw;
  --line-height: 1.5;
  font-size: calc(12px + 1vw);
  color: rgba(0, 0, 0, 0.87);
  font-family: montserrat, sans-serif;
  height: 100%;
  font-weight: 500;
  line-height: var(--line-height);
}

.logo {
  font-size: 1.4rem;
  font-weight: 100;
  margin-bottom: var(--logo-padding);
  padding-left: 0.1em
}
.logo img {
  vertical-align: bottom;
  transform: translateY(-0.38em);
  height: 1.64em;
  width: auto;
  margin-left: -1em;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.6em;
}

p {
  margin-top: calc(var(--line-height) * 1em);
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
}

.content {
  padding: var(--logo-padding);
}

.background, .background-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.background {
  background: url(background.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.background-overlay {
  background: rgba(255, 255, 255, 0.7);
}
