*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --padding: calc(20vw - 5vh);
  --line-height: 1.5;
  --leading: calc(var(--line-height) * 1em);
  font-size: calc(14px + 0.5vw);
  color: white;
  font-family: montserrat, sans-serif;
  height: 100%;
  font-weight: 500;
  line-height: var(--line-height);
}

.logo {
  --relative-font-size: 1.4;
  font-size: calc(var(--relative-font-size) * 1rem);
  font-weight: 100;
  margin-bottom: var(--padding);
  padding-left: 0.1em
}
.logo img {
  vertical-align: bottom;
  transform: translateY(-0.38em);
  height: 1.64em;
  width: auto;
  margin-left: -1em;
}
@media screen and (max-width: 600px) {
  .logo {
    font-size: calc(var(--relative-font-size) * 18px);
  }
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.1;
  margin-bottom: 0.8em;
}

p {
  margin-top: var(--leading);
}

body {
  margin: 0;
  min-height: 100%;
  position: relative;
}

.content {
  padding: var(--padding);
}

.background,
.background-loaded,
.background-overlay,
.background-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.background,
.background-loaded {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.background {
  background-image: url(data:image/gif;base64,R0lGODdhBQAEAPQAAFhmaaO2yKzD2ZOwx2V6hIh+dsnCxObp9b3CznF2dmBYSrWZgN7IuLimnoF7dD44I7uJSrmIVHhVM0A9LiZFySZFySZFySZFySZFySZFySZFySZFySZFySZFySZFySZFySH5BAEAABQALAAAAAAFAAQAAAURIBAIA1EYB5IoC9M4DxRJUwgAOw==);
}
.background-loaded {
  background-image: url(background.jpg);
  transition: opacity ease-in-out 1s;
}
.background-transparent {
  opacity: 0;
}
.background-overlay {
  background: rgba(0, 0, 0, 0.6);
}
.background-gradient {
  position: fixed;
}

.signup {
  --signup-width: calc(300px + 20vw);
  --signup-height: 3em;
  --signup-transition: 0.2s cubic-bezier(0, 0.3, 0, 1);
  --submit-width: 8em;
  height: var(--signup-height);
  width: var(--signup-width);
  overflow: hidden;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.5) -20px 30px 100px;
  color: rgba(0, 0, 0, 0.87);
  transition: transform var(--signup-transition);
  margin-top: calc(2 * var(--leading));
}
.signup:hover,
.signup--interacting {
  transform: scale(1.1);
}
@media (max-width: 535.7px) {
  .signup {
    --signup-width: calc(100vw - 2 * var(--padding));
  }
}

.signup-slider {
  height: var(--signup-height);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: margin-left var(--signup-transition);
}
.signup--interacting .signup-slider {
  margin-left: calc(-1 * var(--signup-width));
}

.signup-element {
  height: 100%;
  width: var(--signup-width);
  flex-shrink: 0;
}

.signup-button {
  background: white;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font: inherit;
  line-height: var(--signup-height);
  background: white;
}

.signup-input {
  font: inherit;
  color: inherit;
  border: none;
  padding: 0.5em;
  transition: width var(--signup-transition);
  background: white;
  border-radius: 0;
}
.signup-slider--submit .signup-input {
  width: calc(var(--signup-width) - var(--submit-width));
}
.signup-input:focus {
  outline: none;
}

.signup-submit {
  border: none;
  width: var(--submit-width);
  font: inherit;
  background: #1f1f1f;
  padding: 0.5em;
  color: white;
  cursor: pointer;
  border-radius: 0;
}
.signup-submit:hover,
.signup-submit:focus {
  background: #333333;
  outline: none;
}
.signup-submit:active {
  background: #444444;
  outline: none;
}
